<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.schoolapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher3"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SchoolApp"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:targetApi="31">

        <!-- FileProvider for handling file downloads -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- SplashActivity as launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.SchoolApp.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!-- SignUpActivity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

        <!-- Admin Dashboard -->
        <activity
            android:name=".adminPart.DashboardActivityMain"
            android:exported="false" />

        <!-- Teacher Dashboard -->
        <activity
            android:name=".teacherPart.TeacherDashboardActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Student Dashboard -->
        <activity
            android:name=".studentPart.StudentDashboardActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Teacher Activities -->
        <activity
            android:name=".teacherPart.AddAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".teacherPart.EditAssignmentActivity"
            android:exported="false" />
        <activity
            android:name=".teacherPart.GradeWorkReturnsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacherPart.ManageAssignmentsActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".teacherPart.TeacherProfileActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Admin Management Activities -->
        <activity
            android:name=".adminPart.ManageTeachersActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.ManageStudentsActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.ManageGroupActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.ManageLevelActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.ManageProgramActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.ManageSubjectActivity"
            android:exported="false" />

        <!-- Admin Add/Edit Activities -->
        <activity
            android:name=".adminPart.AddTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.AddGroupActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.AddLevelActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.AddProgramActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.AddSubjectActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.EditTeacherActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.EditStudentActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.EditGroupActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.EditLevelActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.EditProgramActivity"
            android:exported="false" />
        <activity
            android:name=".adminPart.EditSubjectActivity"
            android:exported="false" />

        <!-- Student Activities -->
        <activity
            android:name=".studentPart.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".studentPart.CheckGradesActivity"
            android:exported="false" />
        <activity
            android:name=".studentPart.CheckAssignmentsActivity"
            android:exported="false" />
    </application>
</manifest>